/* STYLESHEET FOR MyTimes/index */

body {
  margin: 0;
}

a {
  color: black;
}

h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: auto 10px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

header {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

li {
  display: inline-block;
  margin: auto 5px;
}

nav {}

ul {
  list-style: none;
  margin: auto 5px;
}

.box {
  /*border: 1px solid black;*/
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caption {
  color: white;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
}

.column {
  /*border: 2px solid black;*/
  display: flex;
    flex-direction: column;
  margin: 20px;
}

.column.left {
  display: flex;
  width: 630px;
}

.column.middle {
  display: flex;
  width: 300px;
}

.column.right {
  display: flex;
  width: 240px;
}

.container {
  display: flex;
    justify-content: center;
  padding-top: 100px;
}

.copy {
  color: black;
  font-family: Georgia;
  font-size: 17px;
}

.contb {
  display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  /*width: 300px;*/
}

#b1 {
  display: flex;
    flex-direction: column;
  width: 300px;
}

#b2 {
  display: flex;
    flex-direction: column;
  width: 300px;
}

#l1 {
  background-image: url("../img-story-main.png");
  display: flex;
  font-size: 40px;
  height: 300px;
}

#l3 {
  width: 300px;
}

#l4 {
  background-image: url("../img-story-2.png");
  display: flex;
  height: 300px;
  width: 300px;
}

#l6 {
  background-image: url("../img-story-3.png");
  display: flex;
  height: 300px;
}

#m2 {
  background-image: url("../img-story-1.png");
  display: flex;
  height: 300px;
}

#logo {
  color: MediumAquamarine;
  display: flex;
    align-items: center;
}
